<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TheWatch-Local-Feed" value="./artifacts/packages" />
    <add key="TheWatch-Azure-Artifacts" value="https://pkgs.dev.azure.com/thewatch/_packaging/thewatch-feed/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="TheWatch-Local-Feed">
      <package pattern="TheWatch.*" />
    </packageSource>
    <packageSource key="TheWatch-Azure-Artifacts">
      <package pattern="TheWatch.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>