<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TheWatch-Artifacts" value="https://pkgs.dev.azure.com/TheWatchLLC0378/The%20Watch%20Project/_packaging/TheWatch-Artifacts/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="TheWatch-Artifacts">
      <package pattern="TheWatch.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
